# streams-specific excludes
toolkit.xml
impl/nl/include/*.h
output

# These files are generated for C++ primative operators
# If you want to include a perl module, after this line, do 
# !foo.pm
*.pm


# exclude generated Java primitive operator model files
*$StreamsModel.java

## java excludes
*.class

# Package Files #
# comment out the following line if you put pre-compiled packages into lib 
lib/*.jar
impl/lib/*.jar
*.war
*.ear

## C++ excludes
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

